# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pattrns.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity3hw1\Pattrns\.idea\.idea.Pattrns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
